.App{
  display: inline-flex;
  justify-content: space-between;
  border-radius: 10px solid black;
  margin: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}